.img{
	margin-left: auto;
	margin-right: auto;
	
}

h2{
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	/*background-color: red;*/
}

p{

	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	/*background-color: blue;*/

}

.wrapperbuttons{
	width: 356px;
	height: 20px;
	/*background-color: purple;*/
	margin-right: auto;
	margin-left: auto;

}

.document{
	width: auto;
	height: auto;
	text-align: center;
	color: red;
	margin-top: 20px;
}

#wrapintrobtn{
	width: 125px;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
}